* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway;
}

div#scroll-top {
  position: absolute;
  z-index: 3;
  right: 70px;
  top: 80%;
}

div#scroll-top a {
  width: 50px;
  height: 50px;
  position: fixed;
  background: #011627;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  padding: 12px;
}

div#scroll-top a i {
  color: #464646;
  font-size: 1.3em;
  color: #b3b3b3;
  transition: all .3s ease;
}

div#scroll-top a:hover {
  transform: rotate(180deg);
}

div#scroll-top a:hover i {
  text-align: center;
  color: white;
}

header {
  height: 70px;
  width: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow: hidden;
  transition: 0.5s;
  padding: 0;
  transition: all .3s ease-out;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08);
}

header nav#navbar {
  width: 100%;
  height: 70px;
  padding: 0;
  top: 0;
  /* Icon 2 */
}

header nav#navbar div#logo {
  width: 10%;
  height: 100%;
  display: inline;
  float: left;
}

header nav#navbar div#logo img {
  width: 60px;
  margin: 15px 50px;
}

header nav#navbar div#nav {
  width: 80%;
  display: inline;
  float: left;
  margin: 0;
  height: 100%;
}

header nav#navbar div#nav ul {
  width: 100%;
  text-align: center;
  line-height: 70px;
}

header nav#navbar div#nav ul li {
  list-style: none;
  text-align: center;
  display: inline;
  width: 100%;
  position: relative;
  margin: 0 10px;
}

header nav#navbar div#nav ul li a {
  width: 100%;
  text-align: center;
  margin-right: 0 5px;
  display: inline;
  font-weight: 500;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1px;
  color: #5e5e5e;
  transition: all .2s ease-out;
  position: relative;
  padding-bottom: 27px;
}

header nav#navbar div#nav ul li a:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0%;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #000;
}

header nav#navbar div#nav ul li a:hover {
  cursor: pointer;
}

header nav#navbar div#nav ul li a:hover:after {
  width: 80%;
  left: 10%;
}

header nav#navbar div#nav ul li a:hover {
  color: #000c16;
}

header nav#navbar div#nav ul li:last-child {
  display: none;
  font-size: 1.8em;
}

header nav#navbar div#nav ul li.active {
  color: #000c16;
}

header nav#navbar div#contact {
  width: 10%;
  position: absolute;
  right: 0px;
  float: right;
  height: 70px;
  transition: all .3s ease-out;
  /* Radial Out */
}

header nav#navbar div#contact .hvr-radial-out {
  width: 100%;
  height: 70px;
  margin-right: 0;
  text-align: center;
  line-height: 70px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

header nav#navbar div#contact .hvr-radial-out a {
  text-decoration: none;
  font-weight: 500;
  color: #5e5e5e;
  padding: 0;
  transition: all .3s ease-out;
  font-weight: 600;
  font-size: 1em;
}

header nav#navbar div#contact .hvr-radial-out a i {
  padding: 5px;
}

header nav#navbar div#contact .hvr-radial-out:hover a {
  color: #FFF;
}

header nav#navbar div#contact .hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #011627;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

header nav#navbar div#contact .hvr-radial-out:hover,
header nav#navbar div#contact .hvr-radial-out:focus,
header nav#navbar div#contact .hvr-radial-out:active {
  color: white;
}

header nav#navbar div#contact .hvr-radial-out:hover:before,
header nav#navbar div#contact .hvr-radial-out:focus:before,
header nav#navbar div#contact .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

header nav#navbar #nav-bars {
  display: none;
  margin-top: 10px;
  margin-right: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  float: right;
  border-radius: 100%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: rgba(224, 224, 224, 0.26);
  transition: all .4s;
}

header nav#navbar #nav-bars span {
  display: inline;
  position: absolute;
  height: 3px;
  width: 56%;
  left: 22%;
  background: #464646;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header nav#navbar #nav-bars span:nth-child(1) {
  top: 15px;
}

header nav#navbar #nav-bars span:nth-child(2) {
  top: 24px;
}

header nav#navbar #nav-bars span:nth-child(3) {
  top: 33px;
}

header nav#navbar #nav-bars.open {
  background-color: rgba(224, 224, 224, 0.26);
}

header nav#navbar #nav-bars.open span {
  width: 60%;
  left: 20%;
}

header nav#navbar #nav-bars.open span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

header nav#navbar #nav-bars.open span:nth-child(2) {
  opacity: 0;
  left: -5px;
}

header nav#navbar #nav-bars.open span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

section.about-me {
  width: 100%;
  padding: 150px 0 80px;
}

section.about-me .first-row,
section.about-me .row {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin-left: 0;
}

section.about-me .first-row div,
section.about-me .row div {
  padding-right: 0;
  padding-left: 0;
}

section.about-me .first-row div#about-content,
section.about-me .row div#about-content {
  width: 100%;
  transform: translateX(-150px);
  opacity: 0;
  transition: all .8s;
}

section.about-me .first-row div#about-content h1,
section.about-me .row div#about-content h1 {
  font-weight: 600;
  font-size: 3.5em;
  color: #000c16;
  margin-bottom: 0;
}

section.about-me .first-row div#about-content h4,
section.about-me .row div#about-content h4 {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 25px 0 30px;
  word-spacing: 1px;
  color: #000c16;
  line-height: 32px;
}

section.about-me .first-row div#about-content p,
section.about-me .row div#about-content p {
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  word-spacing: 1px;
  width: 90%;
  color: #5e5e5e;
  margin-bottom: 10px;
  display: block;
}

section.about-me .first-row div#about-content p a,
section.about-me .row div#about-content p a {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
}

section.about-me .first-row div#about-content p a:hover,
section.about-me .row div#about-content p a:hover {
  color: #000c16;
}

section.about-me .first-row div#my-image,
section.about-me .row div#my-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

section.about-me .first-row div#my-image img,
section.about-me .row div#my-image img {
  display: block;
  margin: 0 auto;
  margin-left: 200px;
  width: 55%;
  padding: 0;
  transform: translateX(250px);
  opacity: 0;
  transition: all .8s;
  margin-top: 40px;
}

section.about-me .goal-row {
  width: 100%;
}

section.about-me .goal-row .goal-content {
  width: 100%;
}

section.about-me .goal-row .goal-content #goal-learn {
  width: 100%;
  height: 150px;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider {
  width: 100%;
  left: 2%;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div {
  border-radius: 5px;
  border: 1px solid #dadada;
  width: 15%;
  padding: 6px;
  display: inline;
  float: left;
  margin: 20px 0;
  margin-right: 2%;
  position: relative;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div:nth-child(6) {
  margin-right: 0;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div img {
  width: 100%;
  color: #011627;
  border-radius: 5px;
  filter: grayscale(100%);
  z-index: 1;
  transition: transform .2s ease-out;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div img:hover {
  filter: grayscale(0);
  z-index: 2;
  transform: scale(2);
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.4);
}

section.Schedule {
  background: rgba(224, 224, 224, 0.26);
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding: 80px 0;
  box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.22);
}

section.Schedule div#design {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

section.Schedule div#design ul {
  text-decoration: none;
}

section.Schedule div#design ul li {
  margin-bottom: 5px;
  list-style: none;
  font-weight: 300;
  font-size: 1.2em;
  color: #5e5e5e;
}

section.Schedule div#design ul li:nth-child(1) {
  color: #000c16;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: 400;
}

section.Schedule div#circle-graph {
  margin: 0 auto;
  justify-content: center;
}

section.Schedule div#circle-graph img {
  display: block;
  margin: 0 auto;
  width: 100%;
  transform: translateY(100px);
  opacity: 0;
  transition: all .5s ease-out;
}

section.Schedule div#coding {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

section.Schedule div#coding ul {
  text-decoration: none;
  text-align: left;
}

section.Schedule div#coding ul li {
  margin-bottom: 5px;
  list-style: none;
  font-weight: 300;
  font-size: 1.2em;
  color: #5e5e5e;
}

section.Schedule div#coding ul li:nth-child(1) {
  color: #000c16;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: 400;
}

section.random {
  padding: 130px 0 0;
  border-bottom: 1px solid #f1f1f1;
}

section.random div#yoda-pic {
  margin-left: 100px;
}

section.random div#yoda-pic img {
  float: left;
}

section.random div#i-do {
  float: right;
  margin-top: 40px;
  margin-right: 100px;
  opacity: 0;
  transform: translateX(200px);
  transition: all .5s ease-out;
}

section.random div#i-do h1 {
  font-size: 1.5em;
  font-weight: 400;
  color: #000c16;
  margin-bottom: 30px;
}

section.random div#i-do ul {
  width: 100%;
}

section.random div#i-do ul li {
  margin-bottom: 15px;
  list-style: none;
  font-weight: 300;
  font-size: 20px;
  color: #5e5e5e;
}

section.skills {
  width: 100%;
  height: 589px;
  border-bottom: 1.5px solid #f1f1f1;
  margin: 0;
  padding: 0;
  background: rgba(224, 224, 224, 0.26);
  box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.22);
}

section.skills .all-skills h1 {
  font-size: 2em;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 107px;
  margin-bottom: -5px;
}

section.skills .all-skills div#labels {
  width: 10%;
  display: inline;
  float: left;
  text-align: right;
}

section.skills .all-skills div#labels p {
  width: 100%;
  padding: 0 25px 0 0px;
  font-size: .9em;
  color: #5e5e5e;
}

section.skills .all-skills div#labels p:nth-child(1) {
  margin-top: -10px;
}

section.skills .all-skills div#labels p:nth-child(2) {
  margin-top: 58px;
}

section.skills .all-skills div#labels p:nth-child(3) {
  margin-top: 78px;
}

section.skills .all-skills div#labels p:nth-child(4) {
  margin-top: 100px;
}

section.skills .all-skills div#strokes {
  width: 90%;
  height: 100%;
  display: inline-block;
  float: left;
}

section.skills .all-skills div#strokes img {
  width: 100%;
  opacity: .3;
  height: 445px;
}

section.skills .all-skills div#graphs {
  position: relative;
  width: 100%;
}

section.skills .all-skills div#graphs ul {
  width: 100%;
  height: 400px;
  float: right;
  position: absolute;
  bottom: -440px;
  left: 120px;
}

section.skills .all-skills div#graphs ul li {
  position: relative;
  text-align: center;
  list-style: none;
  display: inline;
  float: left;
  padding: 0 10px;
  margin: 0 5px;
  height: 0px;
  margin-top: 418px;
  border-radius: 4px 4px 0 0;
  transition: all 0.3s cubic-bezier(0.17, 0.39, 0.65, 0.79);
}

section.skills .all-skills div#graphs ul li p {
  margin-bottom: 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

section.skills .all-skills div#graphs ul li p.procent {
  font-size: 3em;
  font-weight: bold;
  vertical-align: bottom;
  position: absolute;
  bottom: 80px;
  color: #f0f0f0;
  opacity: .5;
}

section.skills .all-skills div#graphs ul li p.procent span {
  font-size: .4em;
  margin-left: -10px;
}

section.skills .all-skills div#graphs ul li p.name {
  vertical-align: bottom;
  position: absolute;
  bottom: 10px;
  letter-spacing: 1px;
  color: #f0f0f0;
  font-weight: 600;
}

section.skills .all-skills div#graphs ul #html {
  border-top: 1px solid #ff9e2c;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #ff9e2c;
  border: 1px solid #ff9e2c;
  background-image: linear-gradient(#ffcd92, #ff9e2c 70%);
}

section.skills .all-skills div#graphs ul #css {
  border-top: 1px solid #f56666;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #f56666;
  border: 1px solid #f56666;
  background-image: linear-gradient(#fbc6c6, #f56666 70%);
}

section.skills .all-skills div#graphs ul #javascript {
  border-top: 1px solid #80db48;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #80db48;
  border: 1px solid #80db48;
  background-image: linear-gradient(#bbec9d, #80db48 70%);
}

section.skills .all-skills div#graphs ul #wordpress {
  border-top: 1px solid #4ecdc4;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #4ecdc4;
  border: 1px solid #4ecdc4;
  background-image: linear-gradient(#9ee3df, #4ecdc4 70%);
}

section.skills .all-skills div#graphs ul #adobe {
  border-top: 1px solid #ab64f4;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #ab64f4;
  border: 1px solid #ab64f4;
  background-image: linear-gradient(#dfc3fb, #ab64f4 70%);
}

section.skills .all-skills div#graphs ul #python {
  border-top: 1px solid #1ABC9C;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #1ABC9C;
  border: 1px solid #1ABC9C;
  background-image: linear-gradient(#55e7ca, #1ABC9C 70%);
}

section.skills .all-skills div#graphs ul #php-mysqul {
  border-top: 1px solid #3498DB;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #3498DB;
  border: 1px solid #3498DB;
  background-image: linear-gradient(#8bc4ea, #3498DB 70%);
}

section.skills .all-skills div#graphs ul #git {
  border-top: 1px solid #E67E22;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #E67E22;
  border: 1px solid #E67E22;
  background-image: linear-gradient(#f0b37e, #E67E22 70%);
}

section.resources {
  padding-top: 100px;
  border-bottom: 1px solid #f1f1f1;
}

section.resources h1 {
  font-weight: 400;
  font-size: 1.8em;
  color: #000c16;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

section.resources h1 i {
  position: absolute;
  top: 0;
  margin-left: 10px;
  font-size: .7em;
  color: #011627;
}

section.resources h1 i:hover span {
  transform: scale(0.9);
  opacity: 1;
  top: -75px;
}

section.resources h1 i span {
  position: absolute;
  display: block;
  width: 110px;
  height: 70px;
  top: -30px;
  margin-left: -46px;
  margin-bottom: 10px;
  font-size: .55em;
  letter-spacing: .5px;
  line-height: 15px;
  background: #011627;
  color: #FFF;
  font-weight: 500;
  border-radius: 4px 4px;
  padding: 5px;
  opacity: 0;
  transform: scale(0.1);
  transition: all .3s ease-in-out;
}

section.resources div {
  margin-bottom: 50px;
  padding: 0 15px;
}

section.resources div img {
  width: 50px;
  display: inline;
  float: left;
  margin-right: 10px;
}

section.resources div h3 {
  list-style: none;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 13px;
  color: #000c16;
  letter-spacing: 1px;
  transition: all .1s;
}

section.resources div a {
  text-decoration: none;
}

section.resources div a h3:hover {
  color: #f39c12;
}

section.resources div p {
  margin-top: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 400;
  color: #5e5e5e;
}

section.project {
  min-height: 820px;
  padding: 80px 0;
  width: 100%;
}

section.project div#photos {
  width: 100%;
  /* Prevent vertical gaps */
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  column-count: 5;
  column-gap: 20px;
}

section.project div#photos div#pic {
  width: 100%;
  margin: 0px auto 20px;
  position: relative;
  opacity: .9;
  transition: opacity .3s;
  overflow: hidden;
  z-index: 1;
}

section.project div#photos div#pic:hover {
  opacity: 1;
}

section.project div#photos div#pic:hover img {
  border-radius: 5px;
  transform: scale(1.2);
  height: 100%;
}

section.project div#photos div#pic img {
  width: 100% !important;
  height: auto !important;
  padding: 10px;
  transition: all .5s;
  border-radius: 5px;
  border: 1px solid rgba(224, 224, 224, 0.26);
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  display: inline;
}

section.project div#photos div#pic .about-website {
  position: absolute;
  top: 0;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  color: #FFF;
  border-radius: 5px;
  opacity: 0;
}

section.project div#photos div#pic .about-website h2 {
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: bold;
}

section.project div#photos div#pic .about-website p {
  letter-spacing: 1px;
  margin-bottom: 8px;
  font-size: .8em;
}

section.project div#photos div#pic .about-website div.view {
  width: 100%;
}

section.project div#photos div#pic .about-website div.view a {
  display: inline;
  float: left;
  width: 30%;
  text-decoration: none;
}

section.project div#photos div#pic .about-website div.view a:nth-child(2) {
  margin-left: 15px;
}

section.project div#photos div#pic .about-website div.view a p {
  color: #f39909;
  font-weight: 600;
  font-size: .9em;
  transition: all .3s;
}

section.project div#photos div#pic .about-website div.view a p:hover {
  color: #FFF;
}

footer {
  width: 100%;
  height: 80px;
  background: #011627;
  padding: 0px 30px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

footer div#left {
  width: 74%;
  line-height: 80px;
  float: left;
  display: inline;
}

footer div#left p#creater {
  width: 100%;
  display: inline;
  float: left;
  margin-bottom: 0;
  text-align: left;
  font-size: .8em;
  color: #5e5e5e;
}

footer div#right {
  width: 26%;
}

footer div#right div.social-media {
  float: right;
  width: 80%;
  height: 80px;
}

footer div#right div.social-media ul {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

footer div#right div.social-media ul li {
  list-style: none;
  width: 25%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  transition: all .2s ease-in-out;
}

footer div#right div.social-media ul li a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border: 1px solid #CCC;
  background: rgba(224, 224, 224, 0.26);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}

footer div#right div.social-media ul li a i {
  font-size: 1.1em;
  color: #CCC;
  transition: .2s ease;
}

footer div#right div.social-media ul li#facebook a:hover {
  border: 1px solid #3b5998;
}

footer div#right div.social-media ul li#facebook a:hover i {
  color: #3b5998;
}

footer div#right div.social-media ul li#twitter a:hover {
  border: 1px solid #00aced;
}

footer div#right div.social-media ul li#twitter a:hover i {
  color: #00aced;
}

footer div#right div.social-media ul li#instagram a:hover {
  border: 1px solid #bc2a8d;
}

footer div#right div.social-media ul li#instagram a:hover i {
  color: #bc2a8d;
}

footer div#right div.social-media ul li#linked-in a:hover {
  border: 1px solid #007bb6;
}

footer div#right div.social-media ul li#linked-in a:hover i {
  color: #007bb6;
}
/*# sourceMappingURL=style.css.map */