* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway;
}

div#scroll-top {
  position: absolute;
  z-index: 3;
}

div#scroll-top a {
  position: fixed;
  right: 0;
  top: 80%;
  width: 50px;
  height: 40px;
  background: whitesmoke;
  padding: 0 15px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

div#scroll-top a i {
  color: #383838;
  font-size: 1.3em;
  line-height: 40px;
  transition: all .2s ease;
}

div#scroll-top a i.rotate {
  display: inline-block;
  transform: rotate(-45deg);
}

div#scroll-top a:hover i.rotate {
  display: inline-block;
  transform: rotate(45deg);
  color: #1FAB89;
}

header {
  height: 70px;
  width: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-y: hidden;
  transition: 0.5s;
  padding: 0;
  overflow: hidden;
  transition: all .3s ease-out;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

header nav#navbar {
  width: 100%;
  height: 70px;
  padding: 0;
  top: 0;
}

header nav#navbar div#logo {
  width: 10%;
  height: 100%;
  display: inline;
  float: left;
}

header nav#navbar div#logo img {
  width: 60px;
  margin: 15px 50px;
}

header nav#navbar div#nav {
  width: 80%;
  display: inline;
  float: left;
  margin: 0;
  height: 100%;
}

header nav#navbar div#nav ul {
  width: 100%;
  text-align: center;
  line-height: 70px;
}

header nav#navbar div#nav ul li {
  list-style: none;
  text-align: center;
  display: inline;
  width: 100%;
  margin: 0 12px;
  position: relative;
}

header nav#navbar div#nav ul li a {
  width: 100%;
  text-align: center;
  margin-right: 0 5px;
  display: inline;
  font-weight: 500;
  text-decoration: none;
  font-size: .9em;
  color: #5e5e5e;
  transition: all .2s ease-out;
}

header nav#navbar div#nav ul li a:hover {
  color: #1FAB89;
}

header nav#navbar div#nav ul li:last-child {
  display: none;
  font-size: 1.8em;
}

header nav#navbar div#contact {
  width: 10%;
  position: absolute;
  right: 0;
  float: right;
  height: 70px;
  transition: all .3s ease-out;
}

header nav#navbar div#contact div#overlay {
  width: 100%;
  height: 70px;
  margin-right: 0;
  text-align: center;
  line-height: 70px;
}

header nav#navbar div#contact div#overlay a {
  text-decoration: none;
  font-weight: 500;
  color: #1FAB89;
  padding: 0;
  transition: all .3s ease-out;
}

header nav#navbar div#contact div#overlay a:hover {
  padding: 26px 24%;
  background: #1FAB89;
  color: #FFF;
}

header nav#navbar .menu-bar-open {
  padding: 22px 0px;
  width: 10%;
  display: inline;
  float: left;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

header nav#navbar .menu-bar-open:hover .bars {
  background-color: #383838;
}

header nav#navbar .menu-bar-open .bars {
  transition: color .1s;
  background: #000;
}

header nav#navbar .menu-bar-open .bar1,
header nav#navbar .menu-bar-open .bar2,
header nav#navbar .menu-bar-open .bar3 {
  width: 25px;
  height: 2.5px;
  margin: 4.5px 0;
  transition: 0.4s;
  border-radius: 1.5px;
}

section.about-me {
  width: 100%;
  padding: 150px 0 80px;
}

section.about-me .first-row,
section.about-me .row {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin-left: 0;
}

section.about-me .first-row div,
section.about-me .row div {
  padding-right: 0;
  padding-left: 0;
}

section.about-me .first-row div#about-content,
section.about-me .row div#about-content {
  width: 100%;
  transform: translateX(-150px);
  opacity: 0;
  transition: all .8s;
}

section.about-me .first-row div#about-content h1,
section.about-me .row div#about-content h1 {
  font-weight: 600;
  font-size: 3.5em;
  color: #333333;
  margin-bottom: 0;
}

section.about-me .first-row div#about-content h4,
section.about-me .row div#about-content h4 {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 25px 0 30px;
  word-spacing: 1px;
  color: #333333;
  line-height: 32px;
}

section.about-me .first-row div#about-content p,
section.about-me .row div#about-content p {
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  word-spacing: 4px;
  width: 90%;
  color: #5e5e5e;
  margin-bottom: 60px;
}

section.about-me .first-row div#my-image,
section.about-me .row div#my-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

section.about-me .first-row div#my-image img,
section.about-me .row div#my-image img {
  display: block;
  margin: 0 auto;
  margin-left: 200px;
  width: 55%;
  padding: 0;
  transform: translateX(250px);
  opacity: 0;
  transition: all .8s;
  margin-top: 40px;
}

section.about-me .goal-row {
  width: 100%;
  position: relative;
}

section.about-me .goal-row .goal-content {
  width: 100%;
}

section.about-me .goal-row .goal-content #goal-learn {
  width: 100%;
  height: 150px;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider {
  width: 100%;
  left: 2%;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div {
  border-radius: 5px;
  border: 1px solid #dadada;
  width: 15%;
  padding: 6px;
  display: inline;
  float: left;
  margin: 20px 0;
  margin-right: 2%;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div:nth-child(6) {
  margin-right: 0;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div img {
  width: 100%;
  color: #1FAB89;
  border-radius: 5px;
  transition: transform .2s ease-out;
}

section.about-me .goal-row .goal-content #goal-learn div#goal-slider div img:hover {
  transform: scale(2);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

section.Schedule {
  background: whitesmoke;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding: 80px 0;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

section.Schedule div#design {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

section.Schedule div#design ul {
  text-decoration: none;
}

section.Schedule div#design ul li {
  margin-bottom: 5px;
  list-style: none;
  font-weight: 300;
  font-size: 1.2em;
  color: #5e5e5e;
}

section.Schedule div#design ul li:nth-child(1) {
  color: #333333;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: 400;
}

section.Schedule div#circle-graph {
  margin: 0 auto;
  justify-content: center;
}

section.Schedule div#circle-graph img {
  display: block;
  margin: 0 auto;
  width: 100%;
  transform: translateY(100px);
  opacity: 0;
  transition: all .5s ease-out;
}

section.Schedule div#coding {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

section.Schedule div#coding ul {
  text-decoration: none;
  text-align: left;
}

section.Schedule div#coding ul li {
  margin-bottom: 5px;
  list-style: none;
  font-weight: 300;
  font-size: 1.2em;
  color: #5e5e5e;
}

section.Schedule div#coding ul li:nth-child(1) {
  color: #333333;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: 400;
}

section.random {
  padding: 130px 0 0;
  border-bottom: 1px solid #f1f1f1;
}

section.random div#yoda-pic {
  margin-left: 100px;
}

section.random div#yoda-pic img {
  float: left;
}

section.random div#i-do {
  float: right;
  margin-top: 40px;
  margin-right: 100px;
  opacity: 0;
  transform: translateX(200px);
  transition: all .5s ease-out;
}

section.random div#i-do h1 {
  font-size: 1.5em;
  font-weight: 400;
  color: #333333;
  margin-bottom: 30px;
  font-size: 1.4em;
}

section.random div#i-do ul {
  width: 100%;
}

section.random div#i-do ul li {
  margin-bottom: 10px;
  list-style: none;
  font-weight: 300;
  font-size: 18px;
  color: #5e5e5e;
}

section.skills {
  width: 100%;
  height: 589px;
  border-bottom: 1.5px solid #f1f1f1;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

section.skills .skills h1 {
  font-size: 2em;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 107px;
  margin-bottom: -5px;
}

section.skills .skills div#labels {
  width: 10%;
  display: inline;
  float: left;
  text-align: right;
}

section.skills .skills div#labels p {
  width: 100%;
  padding: 0 25px 0 0px;
  font-size: .9em;
  color: #5e5e5e;
}

section.skills .skills div#labels p:nth-child(1) {
  margin-top: -10px;
}

section.skills .skills div#labels p:nth-child(2) {
  margin-top: 58px;
}

section.skills .skills div#labels p:nth-child(3) {
  margin-top: 78px;
}

section.skills .skills div#labels p:nth-child(4) {
  margin-top: 100px;
}

section.skills .skills div#strokes {
  width: 90%;
  height: 100%;
  display: inline-block;
  float: left;
}

section.skills .skills div#strokes img {
  width: 100%;
  opacity: .3;
}

section.skills .skills div#graphs {
  position: relative;
  width: 100%;
}

section.skills .skills div#graphs ul {
  width: 100%;
  height: 400px;
  float: right;
  position: absolute;
  bottom: -440px;
  left: 120px;
}

section.skills .skills div#graphs ul li {
  position: relative;
  text-align: center;
  list-style: none;
  display: inline;
  float: left;
  padding: 0 10px;
  margin: 0 5px;
  height: 0px;
  margin-top: 418px;
  border-radius: 4px 4px 0 0;
  transition: all 0.3s cubic-bezier(0.17, 0.39, 0.65, 0.79);
}

section.skills .skills div#graphs ul li p {
  margin-bottom: 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

section.skills .skills div#graphs ul li p.procent {
  font-size: 3em;
  font-weight: bold;
  vertical-align: bottom;
  position: absolute;
  bottom: 80px;
  color: whitesmoke;
  opacity: .5;
}

section.skills .skills div#graphs ul li p.procent span {
  font-size: .4em;
  margin-left: -10px;
}

section.skills .skills div#graphs ul li p.name {
  vertical-align: bottom;
  position: absolute;
  bottom: 10px;
  letter-spacing: 1px;
  color: whitesmoke;
  font-weight: 600;
}

section.skills .skills div#graphs ul #html {
  border-top: 1px solid #ff9e2c;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #ff9e2c;
  border: 1px solid #ff9e2c;
  background-image: linear-gradient(#ffcd92, #ff9e2c 70%);
}

section.skills .skills div#graphs ul #css {
  border-top: 1px solid #f56666;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #f56666;
  border: 1px solid #f56666;
  background-image: linear-gradient(#fbc6c6, #f56666 70%);
}

section.skills .skills div#graphs ul #javascript {
  border-top: 1px solid #80db48;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #80db48;
  border: 1px solid #80db48;
  background-image: linear-gradient(#bbec9d, #80db48 70%);
}

section.skills .skills div#graphs ul #wordpress {
  border-top: 1px solid #4ecdc4;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #4ecdc4;
  border: 1px solid #4ecdc4;
  background-image: linear-gradient(#9ee3df, #4ecdc4 70%);
}

section.skills .skills div#graphs ul #adobe {
  border-top: 1px solid #ab64f4;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #ab64f4;
  border: 1px solid #ab64f4;
  background-image: linear-gradient(#dfc3fb, #ab64f4 70%);
}

section.skills .skills div#graphs ul #python {
  border-top: 1px solid #1ABC9C;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #1ABC9C;
  border: 1px solid #1ABC9C;
  background-image: linear-gradient(#55e7ca, #1ABC9C 70%);
}

section.skills .skills div#graphs ul #php-mysqul {
  border-top: 1px solid #3498DB;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #3498DB;
  border: 1px solid #3498DB;
  background-image: linear-gradient(#8bc4ea, #3498DB 70%);
}

section.skills .skills div#graphs ul #git {
  border-top: 1px solid #E67E22;
  box-shadow: inset 0px 9px 5px -7px rgba(255, 255, 255, 0.75);
  background: #E67E22;
  border: 1px solid #E67E22;
  background-image: linear-gradient(#f0b37e, #E67E22 70%);
}

section.resources {
  padding-top: 100px;
  border-bottom: 1px solid #f1f1f1;
}

section.resources h1 {
  font-weight: 400;
  font-size: 1.8em;
  color: #333333;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

section.resources h1 i {
  position: absolute;
  top: 0;
  margin-left: 10px;
  font-size: .7em;
  color: #1FAB89;
}

section.resources h1 i span {
  position: absolute;
  display: block;
  width: 100px;
  height: 60px;
  top: -60px;
  margin-left: -40px;
  margin-bottom: 10px;
  font-size: .45em;
  letter-spacing: .4px;
  background: #1FAB89;
  color: #FFF;
  font-weight: 500;
  border-radius: 4px 4px;
  padding: 5px;
  transition: opacity .3s ease;
}

section.resources div {
  margin-bottom: 50px;
  padding: 0 15px;
}

section.resources div img {
  width: 50px;
  display: inline;
  float: left;
  margin-right: 10px;
}

section.resources div h3 {
  list-style: none;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 13px;
  color: #333333;
  letter-spacing: 1px;
}

section.resources div a {
  text-decoration: none;
}

section.resources div a h3:hover {
  color: #1FAB89;
}

section.resources div p {
  margin-top: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 400;
  color: #5e5e5e;
}

section.project {
  padding: 80px 0;
  width: 100%;
}

section.project div#photos {
  width: 100%;
  /* Prevent vertical gaps */
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

section.project div#photos div#pic {
  width: 100%;
  margin: 0px auto 20px;
  position: relative;
}

section.project div#photos div#pic img {
  width: 100% !important;
  height: auto !important;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  display: inline;
}

section.project div#photos div#pic .about-website {
  position: absolute;
  top: 0;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: #FFF;
  border-radius: 5px;
  opacity: 0;
}

section.project div#photos div#pic .about-website h2 {
  letter-spacing: 1px;
  font-size: 1.5em;
}

section.project div#photos div#pic .about-website p {
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: .9em;
}

section.project div#photos div#pic .about-website div.view {
  width: 100%;
}

section.project div#photos div#pic .about-website div.view a {
  display: inline;
  float: left;
  width: 30%;
  text-decoration: none;
}

section.project div#photos div#pic .about-website div.view a:nth-child(2) {
  margin-left: 15px;
}

section.project div#photos div#pic .about-website div.view a p {
  color: #1FAB89;
  font-weight: bold;
  font-size: .95em;
  transition: all .2s;
}

section.project div#photos div#pic .about-website div.view a p:hover {
  margin-top: -1px;
  font-size: 1em;
  color: #FFF;
}

footer {
  width: 100%;
  height: 80px;
  background: #f7f7f7;
  padding: 0px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

footer div#left {
  width: 30%;
  line-height: 80px;
}

footer div#left p#creater {
  width: 100%;
  display: inline;
  float: left;
  margin-bottom: 0;
  text-align: left;
  color: #333333;
}

footer div#center {
  width: 40%;
  height: 80px;
}

footer div#center p#like-dev {
  margin-left: 20px;
  margin-top: 5px;
  font-size: .7em;
  padding: 20px 0 0;
  float: left;
  text-align: center;
}

footer div#center p#like-dev span {
  display: block;
  font-weight: 600;
  color: #333333;
}

footer div#right {
  width: 30%;
}

footer div#right div.social-media {
  float: right;
  width: 80%;
  height: 80px;
}

footer div#right div.social-media ul {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  margin-bottom: 0;
}

footer div#right div.social-media ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  display: inline;
  float: right;
  margin: 0px 5px;
  background: #FFF;
  border-radius: 100%;
  text-align: center;
  border: 2px solid #CCC;
  transition: all .2s ease-in-out;
  line-height: 38px;
}

footer div#right div.social-media ul li a {
  text-decoration: none;
}

footer div#right div.social-media ul li a i {
  font-size: 1.3em;
  transition: .1s ease-in-out;
  color: #383838;
}

footer div#right div.social-media ul li#facebook:hover {
  border: 2px solid #3b5998;
}

footer div#right div.social-media ul li#facebook:hover i {
  color: #3b5998;
}

footer div#right div.social-media ul li#twitter:hover {
  border: 2px solid #00aced;
}

footer div#right div.social-media ul li#twitter:hover i {
  color: #00aced;
}

footer div#right div.social-media ul li#instagram i {
  margin-top: -5px;
}

footer div#right div.social-media ul li#instagram:hover {
  border: 2px solid #bc2a8d;
}

footer div#right div.social-media ul li#instagram:hover i {
  color: #bc2a8d;
}

footer div#right div.social-media ul li#linked-in:hover {
  border: 2px solid #007bb6;
}

footer div#right div.social-media ul li#linked-in:hover i {
  color: #007bb6;
}
 

 /*# sourceMappingURL= style.css.map */