* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header div#contact {
  width: 10%;
  position: absolute;
  right: 0;
  float: right;
  height: 70px;
  transition: all .3s ease-out;
}

header div#contact div.active {
  width: 100%;
  height: 73px;
  margin-right: 0;
  text-align: center;
  line-height: 70px;
  margin-top: 0px;
}

header div#contact div.active a {
  text-decoration: none;
  font-weight: 500;
  transition: all .3s ease-out;
  padding: 26px 24%;
  background: #1FAB89;
  color: #FFF;
}

header .menu-bar-open {
  padding: 22px 25px;
  width: 10%;
  display: inline;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

header .menu-bar-open:hover .bars {
  background-color: #2e2e2e;
}

header .menu-bar-open .bars {
  transition: color .1s;
  background: #000;
}

header .menu-bar-open .bar1,
header .menu-bar-open .bar2,
header .menu-bar-open .bar3 {
  width: 25px;
  height: 2.5px;
  margin: 4.5px 0;
  transition: 0.4s;
  border-radius: 1.5px;
}

section.about-me {
  border-bottom: none;
  padding-bottom: 0;
}

section.about-me .row div#about-content p {
  margin-bottom: 0 !important;
}

section.about-me .row div#about-content p#phone-num {
  margin-top: 10px !important;
}

section.about-me .row div#about-content p span#or {
  color: #1FAB89;
}

section.about-me .row div#about-content div.contact-social-media {
  float: left;
  width: 100%;
}

section.about-me .row div#about-content div.contact-social-media ul {
  margin-top: 90px;
  margin-bottom: 0;
}

section.about-me .row div#about-content div.contact-social-media ul li {
  width: 60px;
  height: 60px;
  background-color: #CCC;
  border-radius: 100%;
  display: inline;
  float: left;
  text-align: center;
  margin-right: 12px;
  opacity: .8;
  transition: opacity .2s;
}

section.about-me .row div#about-content div.contact-social-media ul li:hover {
  opacity: 1;
}

section.about-me .row div#about-content div.contact-social-media ul li a {
  color: #FFF;
  text-decoration: none;
}

section.about-me .row div#about-content div.contact-social-media ul li a i {
  font-size: 2em;
  line-height: 60px;
}

section.about-me .row div#about-content div.contact-social-media ul li#facebook {
  background-color: #3b5998;
}

section.about-me .row div#about-content div.contact-social-media ul li#twitter {
  background-color: #00aced;
}

section.about-me .row div#about-content div.contact-social-media ul li#instagram {
  background-color: #bc2a8d;
}

section.about-me .row div#about-content div.contact-social-media ul li#linked-in {
  background-color: #007bb6;
}

section.send-message {
  padding: 80px;
  width: 100%;
  background-color: #ebebeb;
}

section.send-message h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

section.send-message form {
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

section.send-message form input,
section.send-message form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

section.send-message form input:focus,
section.send-message form textarea:focus {
  box-shadow: 0 0px 2px #1fab89 !important;
}

section.send-message form .submit {
  padding: 10px;
}

section.send-message form .submit #input-submit {
  color: white;
  background: #1FAB89;
  cursor: pointer;
}

section.send-message form .submit #input-submit:hover {
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

section.send-message form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 8px;
}

section.send-message .right {
  padding: 10px;
  width: 50%;
  display: inline;
  float: left;
}

section.send-message .left {
  padding: 10px;
  width: 50%;
  display: inline;
  float: left;
  margin: 0;
}

section.map {
  padding: 20px;
}

footer {
  box-shadow: 0px -6px 10px -6px rgba(0, 0, 0, 0.2);
}
 

 /*# sourceMappingURL= contact.css.map */