@media only screen and (max-width: 1200px) {
  section#contact {
    border-bottom: none;
    padding-bottom: 0;
  }
  section#contact .row div#about-content p {
    margin-bottom: 0 !important;
  }
  section#contact .row div#about-content p#phone-num {
    margin-top: 5px !important;
  }
  section#contact .row div#about-content p span#or {
    display: block;
  }
  section#contact .row div#about-content div.contact-social-media ul {
    margin-top: 30px;
    margin-bottom: 0;
  }
  section#contact .row div#my-image img {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 989px) {
  section.about-me {
    border-bottom: none;
    padding-bottom: 0;
  }
  section.about-me .row div#about-content {
    display: block;
    text-align: center;
    margin-bottom: 80px;
  }
  section.about-me .row div#about-content h1 {
    text-align: center;
  }
  section.about-me .row div#about-content h4 {
    text-align: center;
  }
  section.about-me .row div#about-content p {
    margin-left: 50px;
    margin-bottom: 0 !important;
  }
  section.about-me .row div#about-content p#phone-num {
    margin-top: 10px !important;
  }
  section.about-me .row div#about-content p span#or {
    display: none;
  }
  section.about-me .row div#about-content div.contact-social-media {
    display: none;
  }
  section.about-me .row div#my-image img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  section.send-message textarea#input-message {
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
    margin-top: 0;
  }
  section.send-message .right {
    padding: 10px;
    width: 100%;
    display: inline;
    float: left;
    margin: 0;
  }
  section.send-message .left {
    padding: 10px;
    width: 100%;
    display: inline;
    float: left;
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {
  header nav#navbar div#logo {
    width: 15%;
  }
  header nav#navbar div#nav {
    width: 70%;
  }
  header nav#navbar div#nav ul li a {
    font-size: .9em;
  }
  header nav#navbar div#contact {
    width: 15%;
  }
  header section.about-me .first-row div#my-image img {
    margin-top: 170px;
  }
  header section.Schedule div#circle-graph img {
    display: block;
    margin: 0 auto;
    width: 300px;
    opacity: 0;
    transition: all .5s ease-out;
  }
  header section.random {
    padding: 130px 0 0;
  }
  header section.random div#yoda-pic {
    margin-left: 100px;
  }
  header section.random div#yoda-pic img {
    margin-top: 30px;
    width: 450px;
  }
  header section.random div#i-do {
    margin-left: 100px;
    float: left;
  }
  header section.random div#i-do h1 {
    font-size: 1.3em;
  }
  header section.random div#i-do ul li {
    font-size: 1em;
  }
  header section.skills .all-skills div#labels p {
    font-size: .8em;
    color: #5e5e5e;
  }
  header section.skills .all-skills div#strokes img {
    height: 445px;
  }
  header section.skills .all-skills div#graphs {
    margin-left: -20px;
  }
  header section.skills .all-skills div#graphs ul li p.procent {
    font-size: 2.5em;
    display: block;
    text-align: center;
  }
  header section.skills .all-skills div#graphs ul li p.procent span {
    font-size: .3em;
  }
  header section.skills .all-skills div#graphs ul li p.name {
    vertical-align: bottom;
    display: block;
    text-align: center;
    font-size: .9em;
    letter-spacing: 0px;
    color: whitesmoke;
    font-weight: 600;
  }
  header section.resources h1 {
    font-size: 1.6em;
  }
  header section.resources div {
    margin-bottom: 50px;
    padding: 0 20px;
  }
  header section.resources div img {
    width: 45px;
    display: inline;
    float: left;
    margin-right: 10px;
  }
  header section.resources div h3 {
    list-style: none;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 13px;
    letter-spacing: 1px;
  }
  header section.resources div a {
    text-decoration: none;
  }
  header section.resources div p {
    font-size: .9em;
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 400;
  }
  section.project div#photos {
    width: 100%;
    /* Prevent vertical gaps */
    -webkit-column-count: 4;
    -webkit-column-gap: 15px;
    -moz-column-count: 4;
    -moz-column-gap: 15px;
    column-count: 4;
    column-gap: 15px;
  }
  section.project div#photos div#pic {
    margin: 0px auto 15px;
  }
  section.project div#photos div#pic .about-website {
    padding: 10px 20px;
  }
  section.project div#photos div#pic .about-website h2 {
    letter-spacing: 1px;
    font-size: 1.2em;
  }
  section.project div#photos div#pic .about-website p {
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-size: .8em;
  }
  section.project div#photos div#pic .about-website div.view a p {
    font-size: .9em;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    position: fixed;
  }
  header nav#navbar #nav-bars {
    display: block;
  }
  header nav#navbar div#contact {
    display: none;
  }
  header nav#navbar div#nav ul {
    margin-top: 100px;
  }
  header nav#navbar div#nav ul li {
    display: block;
    font-size: 1.1em;
  }
  header nav#navbar div#nav ul li:last-child {
    display: block;
  }
  header nav#navbar div#nav ul li:last-child a {
    color: #1FAB89;
  }
  section.Schedule div#circle-graph img {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-left: -20px;
    opacity: 0;
    transition: all .5s ease-out;
  }
  section.random {
    padding: 130px 0 0;
  }
  section.random div#yoda-pic {
    margin-left: 100px;
  }
  section.random div#yoda-pic img {
    margin-top: 30px;
    width: 450px;
  }
  section.random div#i-do {
    margin-left: 90px;
    float: left;
  }
  section.random div#i-do h1 {
    font-size: 1.3em;
  }
  section.random div#i-do ul li {
    font-size: 1em;
  }
  footer {
    background: rgba(0, 0, 0, 0.836);
  }
  footer div#left {
    width: 40%;
  }
  footer div#left p#creater {
    color: #FFF;
  }
  footer div#center {
    display: none;
  }
  footer div#right {
    width: 60%;
  }
  footer div#right div.social-media ul {
    width: 100%;
  }
  footer div#right div.social-media ul li {
    border: 2px solid #CCC;
  }
}

@media only screen and (max-width: 989px) {
  header nav#navbar div#nav ul li:nth-child(4) {
    display: none;
  }
  section.about-me .first-row div#my-image img {
    display: block;
    margin: 0 auto;
    margin-left: auto;
  }
  section.about-me .goal-row .goal-content #goal-learn {
    height: 280px;
  }
  section.about-me .goal-row .goal-content #goal-learn div#goal-slider {
    margin-left: 10%;
  }
  section.about-me .goal-row .goal-content #goal-learn div#goal-slider div {
    width: 25%;
    margin: 10px 0;
    margin-right: 4%;
  }
  section.Schedule div#design {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  section.Schedule div#design ul {
    text-align: center;
  }
  section.Schedule div#circle-graph {
    transform: rotate(75deg);
  }
  section.Schedule div#circle-graph img {
    display: block;
    width: 300px;
    margin-left: 180px;
  }
  section.Schedule div#coding {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 55px;
  }
  section.Schedule div#coding ul {
    text-align: center;
  }
  section.random {
    padding: 130px 0 0;
  }
  section.random div#yoda-pic {
    margin-left: 0px;
  }
  section.random div#yoda-pic img {
    margin-top: 60px;
    width: 400px;
  }
  section.random div#i-do {
    margin-left: 130px;
    float: left;
  }
  section.random div#i-do h1 {
    font-size: 1.3em;
  }
  section.random div#i-do ul li {
    font-size: 1em;
  }
  section.skills {
    display: none;
  }
  section.project div#photos {
    /* Prevent vertical gaps */
    -webkit-column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-count: 3;
    -moz-column-gap: 15px;
    column-count: 3;
    column-gap: 15px;
  }
  section.project div#photos div#pic {
    margin: 0px auto 15px;
  }
  section.project div#photos div#pic .about-website {
    padding: 10px 20px;
  }
  section.project div#photos div#pic .about-website h2 {
    letter-spacing: 1px;
    font-size: 1.2em;
  }
  section.project div#photos div#pic .about-website p {
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-size: .8em;
  }
  section.project div#photos div#pic .about-website div.view a:nth-child(2) {
    margin-left: 25px;
  }
  section.project div#photos div#pic .about-website div.view a p {
    font-size: .9em;
  }
  footer {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 836px) {
  section.Schedule div#circle-graph img {
    display: block;
    width: 300px;
    margin-left: 90px;
  }
}

@media only screen and (max-width: 768px) {
  section.random {
    padding: 130px 0 0;
  }
  section.random div#yoda-pic {
    width: 80%;
  }
  section.random div#yoda-pic img {
    margin-top: 0px;
    width: 80%;
    margin-left: 30%;
  }
  section.random div#i-do {
    margin: 80px 0;
    text-align: center;
    display: block;
    float: none;
    transform: translateX(100px);
  }
  section.random div#i-do h1 {
    font-size: 1.3em;
  }
  section.random div#i-do ul li {
    font-size: 1em;
  }
  section.project div#photos {
    /* Prevent vertical gaps */
    -webkit-column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-count: 2;
    -moz-column-gap: 15px;
    column-count: 2;
    column-gap: 15px;
  }
  section.project div#photos div#pic .about-website h2 {
    font-size: 1.1em;
  }
  section.project div#photos div#pic .about-website div.view a:nth-child(2) {
    margin-left: 15px;
  }
  section.project div#photos div#pic .about-website div.view a p {
    font-size: .8em;
  }
  section.project div#photos div#pic .about-website div.view a p:hover {
    margin-top: -1px;
    font-size: .9em;
    color: #FFF;
  }
}

@media only screen and (max-width: 668px) {
  header nav#navbar #nav-bars {
    margin-top: -60px;
  }
  section.random {
    padding: 130px 0 0;
  }
  section.random div#yoda-pic {
    margin: 0 auto;
    width: 60%;
    padding-left: 30px;
  }
  section.random div#yoda-pic img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 530px) {
  div#scroll-top a {
    left: -10px;
    transform: rotate(180deg);
    transform: rotateY(180deg);
  }
  header nav#navbar div#logo img {
    margin: 15px 20px;
  }
  header nav#navbar div#nav ul li {
    margin: 0;
  }
  header nav#navbar div#nav ul li:nth-child(6) {
    display: none;
  }
  header nav#navbar #nav-bars {
    margin-right: 30px;
  }
  section.about-me .row div#my-image img {
    transform: translateX(0px);
  }
  section.about-me .row div#about-content {
    transform: translateX(0px);
  }
  section.about-me .row div#about-content p {
    margin: 0;
    width: 100%;
  }
  section.Schedule div#circle-graph img {
    width: 220px;
    margin-left: 0px;
    margin: 0 auto;
    transform: translateX(0px);
  }
  section.random div#i-do {
    transform: translateX(0px);
  }
  section.project {
    display: none;
  }
  footer {
    background: #011627;
  }
  footer div#left {
    display: none;
  }
  footer div#right {
    width: 100%;
  }
  footer div#right div.social-media {
    width: 100%;
    float: left;
  }
  footer div#right div.social-media ul {
    padding-left: 20px;
    width: 100%;
    width: auto;
    float: left;
    padding-right: 0;
  }
}
/*# sourceMappingURL=responsive.css.map */